<%= @game.player_1.name %> attacked <%= @game.player_2.name %>!


<p> It's super effective! </p>

<%= @game.player.name %>: <%= @game.player.hp %>HP

<form action='/play' method='get'>
  <div class="button">
    <button type="submit">Next Round</button>
  </div>
</form>

<!-- <a href="/play">OK</a> -->
