<%= @game.attacker.name %> attacked <%= @game.receiver.name %>!


<p> It's super effective! </p>

<%= @game.receiver.name %>: <%= @game.receiver.hp %>HP

<form action='/play' method='get'>
  <div class="button">
    <button type="submit">Next Round</button>
  </div>
</form>

<!-- <a href="/play">OK</a> -->
